
body {
    font-family: system-ui;
    color: #555;
    background-color: #f7f7f7;
    min-height: 100vh;
  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .container {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 25%;
    height: 50%;
    padding: 20px;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .inner-container {
    padding: 2px 16px;
  }


  .btn-load {
    border: none;
    font-size: 2rem;
    padding: 2rem 5rem;
    border-radius: 0.7rem;
    color: white;
    background-color: orangered;
    cursor: pointer;
  }

  .btn-season {
    border: none;
    padding: 15px;
    border-radius: 0.7rem;
    color: white;
    background-color: rgb(166, 199, 46);
    cursor: pointer;
  }

  #standing-board {
      display: flex;
      flex-direction: column;
  }

  .standing-card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;
    height: 50%;
  }

  .error-container {
    color: darkred;
    padding: 20px;
  }