
  /* 
  overflow property 
  controls what happens to a content that is to big to fit in a area
  has the following values:
  - visible (default one)
  - hidden
  -scroll
  */
  .navbar {
      overflow: hidden;
      background-color: rgb(29, 77, 122);
    }

  /*
  float property
  The float property is used for positioning and formatting content 
  e.g. let an image float left to the text in a container.
  -left
  -right
  -none
  */


  
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .dropdown {
    float: left;
    /* overflow: hidden; */
  }
  
  .dropdown .dropdown-btn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    padding: 14px 16px;
    background-color: inherit;
    margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover {
    background-color: rgb(234, 0, 255);
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: rgb(100, 82, 82);
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .active {
    background-color: #aa0404;
  }


  /*
  mobile responsive
  */


  @media screen and (max-width: 550px) {
    .navbar.responsive {position: relative;}
    
    .navbar.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
    .dropdown {float: none;}
    .dropdown-content {position: relative;}
    .dropdown-btn {
      display: block;
      /* width: 100%; */
      text-align: left;
    }
  }